@import url("./fonts.css");

body, div, main, h1, p, img{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  height: 100vh;
  overflow: hidden;
}

.main { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
  .main .player {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .main .player div {
      display: flex;
    }
      .main .player .papel,.pedra,.tesoura{
        display: flex;
        justify-content:center;
        align-items: center;
      }
  .main .computer div{
    display: flex;
    justify-content: center;
  }
  .scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }




.victory{
  color: green;
}

.lose{
  color: red;
}

.drawn{
  color: blue
}


  @media (min-width:660px){
  .player-title, .computer-title{
    font-size: 2rem
  }
  img {
    width: 8rem;
  }
}


@media(min-width: 750px ) and (max-width: 900px){

  .title{
    font-size: 4rem
  }

  .player-title, .computer-title{
    font-size: 2rem
  }
  img {
    width: 10rem;
  }

  .result{
    font-size: 2rem
  }
}


@media (min-width: 901px){
  .title{
    font-size: 3rem;
  }

  .pedra, .papel, .tesoura{
    width: 150px;
    cursor: pointer;
  }
  .player img:hover{
    width: 110px
  }

}